.game_two_session_background_container{
  .active {
    border: 3px;
    border-color: #1abc9c;
    box-shadow: 3px 3px 1px 1px #1abc9c;
  }
  .punctuation {
    color: transparent;
  }
}

.show_punctuation {
      color: black !important;
    }

#word_options {
  color: transparent;
  font-size: 16px;
  &.active {
    color: black;
    font-size: 42px;
  }
}



.game_two_session_background_container {
  background-image: url(https://images.unsplash.com/photo-1506252374453-ef5237291d83?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=968&q=80);
  background-image: linear-gradient(to right, rgba(52,152,219,0.7), rgba(52,152,219,0.8));
  background-position: center;
  background-size: cover;
  top: 0;
  z-index: -100;
  overflow: scroll;
  opacity: 0.9;
  margin-top: -130px;
  padding-bottom: 155px;
  height:100vh;
}

#word_options {
}

.user-options-container {
  position:absolute;
  background: white;
  display:flex;
  flex-direction: column;
  text-align: center;
  width:60vw;
  justify-content: space-around;
  bottom: -455px;
  margin: 0 auto;
  .user-options {
    background-color: #4284FB;
    font-size: 50px ;
    padding: 5px;
    margin: 20px;
  }
}
