.swal-overlay {
  background-color: rgba(26, 188, 156, 0.45);
}

.swal-button {
  padding: 7px 19px;
  border-radius: 2px;
  background-color: #1ABC9C;
  font-size: 12px;
  border: 1px solid #3e549a;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  color: white;
}

.swal-text {
  font-size: 30px;
}

.swal-title {
  font-size: 50px;
}

.game_session_main_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.game_session_game_container {
  width: 70vw;
  // height: 970px;
  background-color: white;
  opacity: 0.8;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 135px;
  overflow: scroll;
  padding-bottom: 50px;
  p {
    text-align: left;
    font-size: 42px;
    padding: 50px 50px;
  }
}

.insert_word_input {
  background-color: transparent;
  border: none;
  text-align: center;
  width: 90px;
}

#insert_word_game_form {
  position: relative;
  z-index: -1;
}

.game_session_background_container {
  background-image: url(https://images.unsplash.com/photo-1506252374453-ef5237291d83?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=968&q=80);
  background-image: linear-gradient(to right, rgba(160,32,240,0.5), rgba(160,32,240,0.6));
  background-position: center;
  background-size: cover;
  top: 0;
  z-index: -100;
  overflow: scroll;
  opacity: 0.9;
}

.game_session_buttons_container {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
}

.game_session_header_container {
  h1 {
    padding-top: 30px;
    text-align: center;
    font-size: 80px;
  }
  h3 {
    text-align: center;
    font-size: 55px;
  }
}

