.text_paragraph_show_main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -182px;
  text-align: center;
}


.text_paragraph_show_container {
  text-align: center;
  width: 85vw;
  background-color: white;
  opacity: 0.8;
  padding: 0px 10px;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 155px;
  position: relative;
  margin-bottom: 50px;
}

.text_paragraph_show_title {
  padding-top: 40px;
  font-size: 2.5rem;
  margin-bottom: 32px;
  text-align: center;
}
.user-command {
  color: #963BEE;
}
.text_paragraph_show_text {
  text-align: left;
  font-size: 36px;
  padding: 0px 50px 90px 50px;
}

.text_paragraph_background_container {
  position: relative;
  background-image: url("https://images.unsplash.com/photo-1506252374453-ef5237291d83?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=968&q=80");
  background-image: linear-gradient(to right, rgba(51,204,204,0.7), rgba(52,152,219,0.5));
  background-position: center;
  background-size: cover;
  top: 65px;
}

.text_paragraph_buttons_container {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
}
