<%= form_tag(update_game_session_path, method: :post, id: "insert_word_game_form", data: { game_session_id: @game_session.id }) do %>
  <p>
    <% count = 1 %>
    <% @chopped_paragraph.each do |section| %>
      <% if section.is_a? Hash %>
          <%= text_field_tag "word#{count}", nil, class: "insert_word_input", placeholder: "monkey", data: {answer: section[:secret_word] } %>
        <% count += 1 %>
      <% else %>
        <%= section %>
      <% end %>
    <% end %>
  </p>
<% end %>



<%= javascript_pack_tag 'insert_word_game' %>
