

<main class="site-content" role="main">
    <section>
        <div class="dashboard-header">
            <h1 class="dashboard-h1">DASHBOARD</h1>
            <div class="user">
              <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
              <div class="dashb-user-name">
                <p>arthur-littm</p>
              </div>
            </div>
        </div><!-- /end .dashboard-header -->
    </section>

    <section>
      <div class="static-numbers">
        <div class="played-game1"></div>
        <div class="paragraphs-learned"></div>
        <div class="full-texts-memorised"></div>
      </div>
    </section>

    <section>
      <div class="time-rage">
        <div class="three-time-tags">
          <div class="day">DAY</div>
          <div class="week">WEEK</div>
          <div class="month">MONTH</div>
        </div>
        <div class="calendar-section">
          <div class="start-time">Start date: </div>
          <div class="end-time">End date: </div>
          <div class="date-picker"><i class="far fa-calendar-alt"></i></div>
        </div>
      </div>
    </section>

    <section>
      <div class="three-charts">
        <div class="correct-inputs">CORRECT INPUTS</div>
        <div class="paragraphs-done">PARAGRAPHS DONE</div>
        <div class="full-texts-memorised">FULL TEXTS MEMORISED</div>
      </div>
    </section>


  </main>
