<div class="home-page-remembex">

 <div class="hero-image-remembex">

  <div class="navbar-home-page">



        <%= link_to full_texts_path, class:"btn-go-back" do %>
        <%= image_tag "https://img.icons8.com/dusk/64/000000/info.png" %>
        <% end %>






        <img class="avatar-home-page" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/cveneziani">


  <div class="hero-text-remembex">
    <h1>Remembex</h1>
    <p>Use recall method to maximize your memorization skill</p>
    <button>log in</button>
  </div>
</div>

</div>
</div>






