// .btn_play_game {
//   background-color: #4CAF50;
//   border: none;
//   color: white;
//   padding: 30px 32px;
//   text-align: center;
//   text-decoration: none;
//   display: inline-block;
//   border-radius: 50%;
//   height: 125px;
//   width: 125px;
//   position: relative;
//   bottom: 20px;
//   font-size: 24px;
//   line-height: 22px;
//   // box-shadow: 3px 3px 3px 3px;
//   a {
//     text-decoration: none;
//   }
// }


.btn_navbar_back {
  img {
  margin-top: 20px;
  height: 48px;
  width: 48px;
  margin-left: 12px;
  }
}

a.btn_listen:focus, a.btn_listen:visited, a.btn_listen:active, a.btn_listen:hover {
  text-decoration: none;
  color: white;
}

.btn_listen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 30px;
  left: 52px;
  font-size: 1.75rem;
  color: white;
  background: #A020F0;
  text-align: center;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
}

a.btn_play_game:focus, a.btn_play_game:visited, a.btn_play_game:active, a.btn_play_game:hover {
  text-decoration: none;
  color: white;
}

.btn_play_game {
  position: relative;
  top: -135px;
  left: 500px;
  font-size: 35px;
  line-height: 36px;
  color: white;
  padding: 44px 14px;
  background: #1abc9c;
  bottom: 0;
  flex-grow: 1;
  text-align: center;
  height: 170px;
  width: 170px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
  z-index: 1000;
}

a.btn_play_game2:focus, a.btn_play_game2:visited, a.btn_play_game2:active, a.btn_play_game2:hover {
  text-decoration: none;
  color: white;
}

.btn_play_game2 {
  position: relative;
  top: -306px;
  left: 768px;
  font-size: 35px;
  line-height: 36px;
  color: white;
  padding: 44px 14px;
  background: #1abc9c;
  bottom: 0;
  flex-grow: 1;
  text-align: center;
  height: 170px;
  width: 170px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
  z-index: 1000;
}

a.btn_retry_game:focus, a.btn_retry_game:visited, a.btn_retry_game:active, a.btn_retry_game:hover {
  text-decoration: none;
  color: white;
}

.btn_retry_game {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -80px !important;
  right : 75px;
  font-size: 85px;
  line-height: 36px;
  color: white;
  background: #1abc9c;
  flex-grow: 1;
  text-align: center;
  height: 170px;
  width: 170px;
  border-radius: 50%;
  z-index: 100;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
}

a.btn_retry_game_popup:focus, a.btn_retry_game_popup:visited, a.btn_retry_game_popup:active, a.btn_retry_game_popup:hover {
  text-decoration: none;
  color: white;
}

.btn_retry_game_popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -80px !important;
  right : 715px;
  font-size: 85px;
  line-height: 36px;
  color: white;
  background: #A020F0;
  flex-grow: 1;
  text-align: center;
  height: 170px;
  width: 170px;
  border-radius: 50%;
  z-index: 100;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
}

// .btn_listen {
//   background-color: #4CAF50;
//   border: none;
//   color: white;
//   padding: 49px 24px;
//   text-align: center;
//   text-decoration: none;
//   display: inline-block;
//   border-radius: 50%;
//   height: 125px;
//   width: 125px;
//   position: relative;
//   bottom: 20px;
//   font-size: 24px;
//   line-height: 22px;
//   // box-shadow: 3px 3px 3px 3px;
//   a {
//     text-decoration: none;
//   }
// }



