.everything {
  position: relative;
}


.full-card {
  margin-left: 50px;
  height: 295px;
  width: 537px;
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   border-radius: 20px 20px 20px 20px;


  .decoration-for-side-bar {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .blue-stuff {
    background: #A020F0;
    width: 161px;
    height: 100%;
    position: relative;
    border-radius: 20px 0px 0px 20px;


  }

  .white-stuff {
    position: relative;
    background: white;
    width: 100%;

    width: 537px;
    height: 295px;
    border-radius: 0px 20px 20px 0px;


    .text-card-title {
    padding-top: 20px;

  }

    .card-full-text-blank {

  }

  .btn-delete-text {
    position: absolute;
    bottom: 9px;
    right: 3px;
    /*top: 0px;*/
    /*left: 0px;*/
    border-style: none;
    background-color: transparent;
  }

  .btn-read-all-text {
    position: absolute;
    bottom: 6px;
    left: 2px;
    border-style: none;
    background-color: transparent;
  }

  .btn-mark-as-done-text {
    position: absolute;
    top: 5px;
    right: 5px;
    border-style: none;
    background-color: transparent;

  }

   .procent-of-text {
    position: absolute;
    left: 440px;
    top: 100px;

    font-family: 'Rammetto One', cursive;
    color: #5F5F5F;

   }

  .text-card-title {
    padding-left: 30px;
    font-family: "Raleway", "Helvetica", "sans-serif";
    font-size: 35px;
    font-weight: bold;



  }

  .text-card-briefly {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "Raleway", "Helvetica", "sans-serif";




  }

  }

}

.full-card .white-stuff .text-card-title {
    padding-left: 20px;
    font-family: 'Rammetto One', cursive;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    a {
      color: #5F5F5F;
    }
}

a.text-card-title:focus, a.text-card-title:visited, a.text-card-title:active, a.text-card-title:hover {
 text-decoration: none;
 color: black;
}


.btn-add-new-text {

  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #1abc9c;
  width: 130px;
  height: 130px;
  border: none;

  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  margin: 4px 2px;
  border-radius: 65px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


    text-shadow: 2px 2px 4px #D4D7DD;
    color: white;
    font-size: 80px;
  font-weight: bold;

  p {
    position: absolute;
    top: 0px;
    left: 43px;
  }


}

  .border-bottom-bg-color {
     background-color: #A020F0;
     margin-bottom: 30px;
     height: 200px;
     display: flex;
     position: relative;
     justify-content: center;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

     .decoration-for-navbar {
      position: absolute;
      left: 25px;
      top: 32px;
     }

     .header-home-page {
       h1{
        font-family: 'Rammetto One', cursive;
        font-size: 50px;
        text-shadow: 2px 2px 4px #000000;
       }



      color: white;
      position: absolute;
      left: 220px;
      top: 60px;

      .select-a-text {
        position: absolute;
        left: 100px;
        top: 65px;
        font-family: 'Rammetto One', cursive;

        text-shadow: 2px 2px 4px #000000;
      }


     }

     .avatar-large {
      position: absolute;
      height: 80px;
      width: 80px;
      border-radius: 55px;
      top: 40px;
      right: 50px;
      border: 2px solid white;
     }



  }



