.everything {
  position: relative;
}


.full-card {
  margin-left: 50px;
  height: 295px;
  width: 537px;
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   border-radius: 20px 20px 20px 20px;


  .decoration-for-side-bar {
    position: absolute;
    top: 25px;
    left: 29px;
  }

  .blue-stuff {
    background: #3498db;
    width: 161px;
    height: 100%;
    position: relative;
    border-radius: 20px 0px 0px 20px;


  }

  .white-stuff {
    position: relative;
    background: white;
    width: 100%;

    width: 537px;
    height: 295px;
    border-radius: 0px 20px 20px 0px;


    .text-card-title {
    padding-top: 20px;

  }
   .title_of_text_container{
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
   }

    .card-full-text-blank {

  }

  .btn-delete-text {
    position: absolute;
    bottom: 19px;
    right: 19px;
    /*top: 0px;*/
    /*left: 0px;*/
    border-style: none;
    background-color: transparent;
  }

  .btn-read-all-text {
    position: absolute;
    bottom: 19px;
    left: 19px;
    border-style: none;
    background-color: transparent;
  }

  .btn-passed-text {
    position: absolute;
    top: 19px;
    right: 19px;
    border-style: none;
    background-color: transparent;

  }
  .btn-not-passed-text {
    position: absolute;
    top: 19px;
    right: 19px;
    border-style: none;
    background-color: transparent;

  }
  .btn-passed-text:active {
    opacity: 0.5;
  }

   .procent-of-text {
    position: absolute;
    left: 440px;
    top: 100px;

    font-family: 'Rammetto One', cursive;
    color: #5F5F5F;

   }

  .text-card-title {
    padding-left: 30px;
    font-family: "Raleway", "Helvetica", "sans-serif";
    font-size: 35px;
    font-weight: bold;



  }

  .text-card-briefly {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "Raleway", "Helvetica", "sans-serif";




  }

  }

}

.full-card .white-stuff .text-card-title {
    padding-left: 20px;
    font-family: 'Rammetto One', cursive;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    a {
      color: #5F5F5F;
    }
}

a.text-card-title:focus, a.text-card-title:visited, a.text-card-title:active, a.text-card-title:hover {
 text-decoration: none;
 color: black;
}


.btn-add-new-text {

  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #1abc9c;
  width: 130px;
  height: 130px;
  border: none;

  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  margin: 4px 2px;
  border-radius: 65px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


    text-shadow: 2px 2px 4px #D4D7DD;
    color: white;
    font-size: 80px;
  font-weight: bold;

  p {
    position: absolute;
    top: 0px;
    left: 43px;
  }


}

  .border-bottom-bg-color {
     background-color:#3498db ;

     margin-bottom: 30px;
     height: 200px;
     display: flex;
     position: relative;
     justify-content: center;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

     .decoration-for-navbar {
      position: absolute;
      left: 30px;
      top: 30px;
      border-radius: 50px;
      border: 2px solid white;
     }

     .header-home-page {
       h1{
        font-family: 'Rammetto One', cursive;
        font-size: 50px;
        text-shadow: 2px 2px 4px #000000;
       }



      color: white;
      position: absolute;
      left: 213px;
      top: 60px;

      .select-a-text {
        position: absolute;
        left: 100px;
        top: 65px;
        font-family: 'Rammetto One', cursive;

        text-shadow: 2px 2px 4px #000000;
      }


     }

     .avatar-large {
      position: absolute;
      height: 70px;
      width: 70px;
      border-radius: 55px;
      top: 30px;
      right: 30px;
      border: 2px solid white;
     }

     .dropdown-menu {
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     }



  }


  .information-window {
    z-index: 100;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: auto;
    width: 500px;
     border-radius: 20px;
     position: absolute;
     top: 50px;
     margin-left: 127px;
     text-align: center;
     .inside-wrapper {
      position: relative;
     }

     .btn-close-info  {
      position: absolute;
      left: -10px;
      top: -10px;
     }

     .btn-decoration-info {
      position: absolute;
      left: 220px;
      top: 30px;

     }

     h1 {
      padding-top: 120px;

     }

     h4 {
      padding-top: 30px;
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 50px;
     }

  }






