
.full-text-show-page {




.navbar-full-text-show-page {
  background-color:  #3498db;
     margin-bottom: 30px;
     height: 150px;
     display: flex;
     justify-content: center;

     position: relative;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

     .btn-go-back {
      position: absolute;
      left: 25px;
      top: 32px;


      text-shadow: 2px 2px 4px #000000;
     }

      .avatar-show-page {
      position: absolute;
      height: 60px;
      width: 60px;
      border-radius: 40px;
      top: 35px;
      right: 50px;
      border: 2px solid white;
     }


       h1{
        color: white;
        text-align: center;
        font-size: 50px;
        text-shadow: 2px 2px 4px #000000;
        padding-top: 20px;
        padding-left: 100px;
        padding-right: 100px;
       }




     }

     .full-text-container {

      padding-top: 80px;
      margin-left: 50px;
      margin-right: 50px;
      padding-bottom: 80px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 20px;
      text-align: center;


      .decoration-for-reading-mode {
        margin-bottom: 30px;
        margin-top: -30px;
      }








      .text-show-all {
        font-size: 30px;
        margin-left: 30px;
        margin-right: 30px;
      }


     }
     }






