.remembex_header {
  height: 124px;
  width: 100vw;
  background-color: #33CCCC;
  margin-bottom: 50px;
  h1 {
    padding-top: 15px;
    color: white;
    line-height: 5px;
  }
  h3 {
    text-align: center;
    color: white;
    line-height: 0.7;
  }
}
