// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "card-full-text";
@import "navbar-full-text";
@import "form";
@import "text-paragraph-card";
@import "insert-word-game";
@import "header";
@import "button";
@import "full-text-show-page";




