.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  position: relative;
  background: white;
  background-color: transparent;
}

#navbarDropdown {
}

.dropdown-toggle {
  margin-top: 20px;
  width: 80px;
  height: 80px;
}

.dropdown-menu {
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
