.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  position: relative;
  background: white;
  background-color: transparent;
  z-index: 100;
}

#navbarDropdown {
}

.dropdown-toggle {
  margin-top: 20px;
  width: 80px;
  height: 80px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
}

.dropdown-menu {
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
