.white-link {
  z-index: 2;
  position: absolute;
  left: -54px;
  bottom: 5%;
}

/*   border-color: #6666FF;
*/


.text-card-solid-border {
  position: relative;
  border-style: solid;
  padding: 5%;
  margin-top: 5%;
  border-radius: 0 14px 14px 0;
  border-width: 1px 1px 1px 68px;
  border-color: #D8D9E3;
  background-color: white;
  box-shadow: -1px 2px 10px 1px rgba(0, 0, 0, 0.1);
  z-index: 0;

}

.link-to-single-text-paragraph {
  font-size: 30px;
  position: absolute;
  right: -36px;
  bottom: 46%;
  margin: 0;
}

.title {
  font-size: 1.4rem;
  padding-top: 1rem;
}

.text-content {
  font-size: 24px;
}

.done-or-not-icon {
  font-size: 2.5rem;
  color: white;
}

.first-row-content {
  height: 124px;
  width: 100%;
  background-color: #E3E4EB;
  padding: 0px 20px;
  h1 {
    margin: 0px;
  }
}
/*   color: #5151CC; eller   color: white;*/
.card-number-integer {
  color: #abadc3;
  position: absolute;
  top: 1.8rem;
  left: -44px;
  font-size: 1.9rem;
  font-weight: 500;
}

.back-button {
  width: 56px;
}

.back-text {
  font-size: 20px;
}

.first-row-content-back-button {
  display:flex;
  color: #6666FF;
}

.first-row-content-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.2rem;
}

.header-text {
  color: #5151CC;
}
/*
.not-done-icon {
  font-size: 36px;
  color: #FF6B6B;
  position: absolute;
  left: -36px;
  bottom: 5%;
}*/
/* color: black;
  opacity: 0.5; */
.text-card-link {
  color: #c1c3d3;


}

.back {
  margin-left: 0;
}

.feature-image-paragraphs {
  background-image: url(images/feature-paragraphs-image.jpg);
}
.green-icon {
  color: #4CCC91;
}

.red-icon {
  color: #FF6B6B;
}
.white-icon-bg{
  width: 36px;
  height: 36px;
  background-color: white;
  border-radius: 50%;

}
.background-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 60px;
  position: absolute;
  left: -54px;
  bottom: 5%;
}
.move-me {

}
